<nz-header> Invoices</nz-header>
<nz-content>
  <button nz-button nzType="primary" (click)="open()" class="mb-1">
    Create
  </button>
  <nz-table
    #basicTable
    [nzData]="listOfData"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>Invoice Id</th>
        <th>Invoice Title</th>
        <th>Invoice Description</th>
        <th>Attachments</th>
        <th>Amount</th>
        <th>Tax Percentage</th>
        <th>Grand Total</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Updated Date</th>
        <th>Updated By</th>
        <th>Invoice Details Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.invoice_id }}</td>
        <td>{{ data.invoice_title }}</td>
        <td>{{ data.invoice_description }}</td>
        <td>{{ data.attachments }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.tax_percentage}}</td>
        <td>{{ data.created_date}}</td>
        <td>{{ data.created_by}}</td>
        <td>{{ data.updated_date}}</td>
        <td>{{ data.updated_by}}</td>
        <td>{{ data.invoice_details_id}}</td>
        <td>
          <button nz-button nzType="primary" (click)="edit(data)">Edit</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent [formGroup]="invoiceForm">
    <div *ngFor="let val of formArray">
        <div>
          <nz-form-item>
            <nz-form-label nz-col nzSpan="5" >{{val.label}}</nz-form-label>
            <nz-form-control nz-col nzSpan="10">
              <input 
                nz-input
                formControlName={{val.control}}
                placeholder="please enter {{val.holder}}"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
  </div>
    
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="update()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
