<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="modules/dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Invoices</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-content>
  <div class="cbutton" >
    <nz-input-group [nzSuffix]="suffixIconSearch" class="searchInput">
      <input type="text" nz-input placeholder="Search" [(ngModel)]="searchText"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="open()">Create</button>
  </div>
  <nz-table
  #basicTable
  [nzData]="invoice_info"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Description</th>
        <th>Vendor</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Tax</th>
        <th>Total</th>
        <th>Department</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data | globalTablesearch: searchText, let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ data.invoice_item }}</td>
        <td>{{ v_name[data.vendor_id]}}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.amount}}</td>
        <td>{{ data.trnsx_type}}</td>
        <td>{{ data.tax}}</td>
        <td>{{ data.total}}</td>
        <td>{{ data.department_name}}</td>
        <td>{{ data.created_date | date : "dd-MM-YYYY hh:mm aaa" }}</td>
        <td>
          <div class="editbtn">
            <a (click)="edit(data)">Edit</a> / <a (click)="edit(data)">view</a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent [formGroup]="invoiceForm">

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Vendor</nz-form-label>
        <nz-select
          formControlName="vendor_id"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Vendor"
          nzShowSearch
        >
        <nz-option *ngFor="let v of vendor_array" nzValue={{v.vendor_id}} nzLabel={{v.vendor_name}}></nz-option>

        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Description</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="invoice_item"
            placeholder="Enter Invoice Item"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Quantity</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="quantity"
            placeholder="Enter Quantity"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Amount</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="amount"
            placeholder="Enter Amount"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Transaction Type</nz-form-label>
        <nz-select
          formControlName="trnsx_type"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Transaction Type"
          nzShowSearch
        >
          <nz-option nzValue="debit" nzLabel="Debit"></nz-option>
          <nz-option nzValue="credit" nzLabel="Credit"></nz-option>
          <nz-option nzValue="refund" nzLabel="Refund"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Tax</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="tax"
            placeholder="Enter Tax"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Total</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="total"
            placeholder="Enter Total"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Department</nz-form-label>
        <nz-select
          formControlName="department_id"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Department"
          nzShowSearch
        >
        <nz-option *ngFor="let d of depts" nzValue={{d.department_id}} nzLabel={{d.department_name}}></nz-option>

        </nz-select>
      </nz-form-item>
    </div>

  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="update()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
