<nz-breadcrumb id="breadcrumb">
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/app/modules">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Invoices</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-content id="component-content">
  <div id="search-create">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="searchInput">
      <input
        type="text"
        nz-input
        placeholder="Search"
        [(ngModel)]="searchText"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="create()">
      Add &nbsp; <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <nz-table
    #basicTable
    [nzData]="invoice_info"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Title</th>
        <th>Remarks</th>
        <th>Vendor</th>
        <th>Tender</th>
        <th>Total Amount</th>
        <!-- <th>Transaction Type</th> -->
        <th>Total Tax</th>
        <th>Grand Total</th>
        <!-- <th>Department</th> -->
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let data of basicTable.data | globalTablesearch : searchText;
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.remarks }}</td>
        <td>{{ v_name[data.vendor_id] }}</td>
        <td>{{ t_name[data.tender_id] }}</td>
        <td>{{ data.amount }}</td>
        <!-- <td>{{ data.trnsx_type }}</td> -->
        <td>{{ data.tax }}</td>
        <td>{{ data.total | currencyIn }}</td>
        <!-- <td>{{ d_name[data.department_id] }}</td> -->
        <td>{{ data.created_date | date : "dd-MM-YYYY hh:mm aaa" }}</td>
        <td>
          <div id="editbtn">
            <a nz-tooltip="Edit" (click)="edit(data)"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <b> / </b>
            <a nz-tooltip="View" (click)="edit(data)"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
  [nzClosable]="false"
  [nzCloseIcon]="icon"
  [nzExtra]="icon"
>
  <ng-template #icon>
    <i (click)="close()" class="fa-solid fa-circle-xmark"></i>
  </ng-template>
  <form nz-form *nzDrawerContent [formGroup]="invoiceForm" class="drawer-form">
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Vendor</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Select Vendor">
          <nz-select
            formControlName="vendor_id"
            nzPlaceHolder="Vendor"
            nzShowSearch
          >
            <nz-option
              *ngFor="let v of vendor_array"
              nzValue="{{ v.vendor_id }}"
              nzLabel="{{ v.vendor_name }}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Tender</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Select Tender">
          <nz-select
            formControlName="tendor_id"
            nzPlaceHolder="Tender"
            nzShowSearch
          >
            <nz-option
              *ngFor="let t of tender_array"
              nzValue="{{ t.id }}"
              nzLabel="{{ t.title}}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Title</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="invoiceErrorTip1">
          <input
            nz-input
            formControlName="title"
            placeholder="Enter Title"
          />
          <ng-template #invoiceErrorTip1 let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please enter invoice Title</ng-container
            >
            <ng-container *ngIf="control.hasError('maxlength')"
              >Maxlength exceeded<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('minlength')"
              >Please enter atleast 10 characters<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('pattern')"
              >Please enter valid input</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Remarks</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="invoiceErrorTip1">
          <input
            nz-input
            formControlName="remarks"
            placeholder="Enter Remarks"
          />
          <ng-template #invoiceErrorTip1 let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please enter Remarks</ng-container
            >
            <ng-container *ngIf="control.hasError('maxlength')"
              >Maxlength exceeded<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('minlength')"
              >Please enter atleast 10 characters<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('pattern')"
              >Please enter valid input</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Total Amount</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="invoiceErrorTip3">
          <input
            nz-input
            formControlName="amount"
            placeholder="Enter Amount"
            (keyup)="change()"
          />
          <ng-template #invoiceErrorTip3 let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please enter amount</ng-container
            >
            <ng-container *ngIf="control.hasError('pattern')">{{
              globalConstants.amountError
            }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Transaction Type</nz-form-label>
        <nz-form-control
          nz-col
          nzSpan="10"
          nzErrorTip="Please Select Transaction Type"
        >
          <nz-select
            formControlName="trnsx_type"
            nz-col
            nzPlaceHolder="Transaction Type"
            nzShowSearch
          >
            <nz-option nzValue="debit" nzLabel="Debit"></nz-option>
            <nz-option nzValue="credit" nzLabel="Credit"></nz-option>
            <nz-option nzValue="refund" nzLabel="Refund"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div> -->

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Total Tax Amount</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="invoiceErrorTip4">
          <input
            nz-input
            formControlName="tax"
            placeholder="Enter Tax"
            (keyup)="change()"
          />
          <ng-template #invoiceErrorTip4 let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please enter Tax</ng-container
            >
            <ng-container *ngIf="control.hasError('pattern')"
              >Invalid - Numbers Only</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Grand Total</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="grand_total"
            placeholder="Enter Total"
            (keyup)="change()"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- dynaminc form fields -->
    <nz-divider nzText="Inventory Details" nzOrientation="left"></nz-divider>
    <div>
      <nz-form-item *ngFor="let control of listOfControl; let i = index">
        <nz-form-label  [nzFor]="control.controlInstance1">
          Inverntory Item
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please input passenger's name or delete this field."
        >
          <input
            class="passenger-input"
            nz-input
            placeholder="placeholder"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance1"
          />
        </nz-form-control>
        <nz-form-label [nzFor]="control.controlInstance2">
          Quantity
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please input passenger's name or delete this field."
        >
          <input
            class="passenger-input"
            nz-input
            placeholder="placeholder"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance2"
          />
        </nz-form-control>
        <nz-form-label [nzFor]="control.controlInstance3">
          Price
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please input passenger's name or delete this field."
        >
          <input
            class="passenger-input"
            nz-input
            placeholder="placeholder"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance3"
          />
        </nz-form-control>
        <nz-form-label [nzFor]="control.controlInstance4">
          Tax
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please input passenger's name or delete this field."
        >
          <input
            class="passenger-input"
            nz-input
            placeholder="placeholder"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance4"
          />
          <span
            nz-icon
            nzType="minus-circle-o"
            class="dynamic-delete-button"
            (click)="removeField(control, $event)"
          ></span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
            <span nz-icon nzType="plus"></span>
            Add field
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="onUpdate()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
