<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzWidth="200px"
    nzTheme="light"
  >
    <div class="logo">
      <img
        src="https://images.freeimages.com/images/previews/09e/moon-art-1641879.png"
        class="image"
      />
    </div>

    <ul nz-menu nzMode="inline">
      <li
        nz-menu-item
        routerLink="{{ item.route }}"
        *ngFor="let item of menuItems"
        [nzMatchRouter]="true"
        [nzSelected]="true"
      >
        <span nz-icon><i class="{{ item.icon }}"></i></span>
        <span>{{ item.title }}</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <span
        class="trigger mr-2"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
      <div class="d-inline">
        <div class="d-inline">
          <p class="d-inline">Approval Managment System</p>
        </div>
        <div class="d-inline float-right">
          <nz-avatar
            nzIcon="user"
            nzSrc="../../../assets/images/avatar.png"
          ></nz-avatar>
          <button
            nz-button
            nzType="text"
            nz-dropdown
            nzPlacement="bottomRight"
            [nzDropdownMenu]="menu"
            class="mr-5"
          >
            {{ full_name }}
            <span nz-icon nzType="down" nzTheme="outline"></span>
          </button>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu class="list">
              <div>
                <p class="text-center">Account</p>
                <hr />
                <div>
                  <div class="avatar">
                    <nz-avatar [nzText]="first_name + last_name"></nz-avatar>
                    <p class="ml-4" style="font-size: 20px">
                      {{ user_data.user_name }}
                    </p>
                  </div>

                  <div class="avatar">
                    <p>Role</p>
                    <p class="ml-4 stat">{{ user_data.status }}</p>
                  </div>
                </div>
                <hr />

                <div class="av1 pl-2">
                  <a class="text-primary">Settings</a>
                  <a class="text-primary" routerLink="modules/profile"
                    >Change Password</a
                  >
                </div>
                <hr />
                <a (click)="gotoLogin()" class="text-danger pl-2">LogOut</a>
              </div>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-layout class="inner-layout">
      <!-- <nz-header class="inner-header"> Approvals</nz-header> -->
      <router-outlet></router-outlet>
      <!-- <nz-footer class="text-center"> sunshine @ 2022 </nz-footer> -->
    </nz-layout>
  </nz-layout>
</nz-layout>
