

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0px 24px;

}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
nz-header {
  background: white;
  border-bottom: 1px solid gainsboro;
  padding:0px 10px;
  position: sticky;
  top: 0;
  z-index: 2;
  }
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    position: relative;
  }
  .logo h1{
    position: absolute;
    left: auto;
    right: auto;
  }
.para{
  color: black;
  font-family:"Fantasy";
  font-size:20px;
}
.layout {
  min-height: 100vh;
}

nz-sider {

  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
}
.b1{
  font-size:25px;
  padding:10px;
  border-radius:5px;
}
.b1:hover{
  background-color:pink;
}
.list{
  width:200px;
  min-height:100px;
}
.item{
  height:50px;
}
/* .inner-header{
  background: none;
  font-size: large;
  font-weight: 500;
  border: none;
} */
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

[nz-icon]{
  font-size: larger;
}
