
    

<nz-content>
  <div class="mt-2 cards">
    <div class="card1 card" >
      <nz-card>
        <p class="text-primary para">{{tender_count}}</p>
        <h1>Total Tenders</h1>
      </nz-card>
    </div>

    <div class="card2 card" >
      <nz-card >
        <p class="text-primary para">{{funds_count}}</p>
        <h1>Funds</h1>
      </nz-card>
    </div>

    <div class="card3 card" >
      <nz-card >
        <p class="text-primary para">{{works_count}}</p>
        <h1>Works</h1>
      </nz-card>
    </div>

    <div class="card4 card" >
      <nz-card >
        <p class="text-primary para">400</p>
        <h1>Approvals</h1>
      </nz-card>
    </div>
  </div>

