<!-- <div nz-row>
  <div nz-col [nzSpan]="6" *ngFor="let c of cards">
    <nz-card style="width:300px;" >
      <div nz-row>
        <div nz-col [nzSpan]="6">
          <span class="dash-wid-icon">
            <span class="material-symbols-outlined"> {{c.icon}} </span>
          </span>
        </div>
        <div nz-col [nzSpan]="18">
          {{c.title}}
        </div>
      </div>
    </nz-card>
  </div>
</div> -->

<nz-content>
  <div class="mt-2 cards">
    <div class="card1 card" >
      <nz-card>
        <p class="text-primary para">{{tender_count}}</p>
        <h1>Total Tenders</h1>
      </nz-card>
    </div>

    <div class="card2 card" >
      <nz-card >
        <p class="text-primary para">{{funds_count}}</p>
        <h1>Funds</h1>
      </nz-card>
    </div>

    <div class="card3 card" >
      <nz-card >
        <p class="text-primary para">{{works_count}}</p>
        <h1>Works</h1>
      </nz-card>
    </div>

    <div class="card4 card" >
      <nz-card >
        <p class="text-primary para">400</p>
        <h1>Approvals</h1>
      </nz-card>
    </div>
  </div>

<div  class="row" style="padding-top:20px;" >
  <div  class="col-xl-6 col-lg-6 order-lg-1 order-xl-1">
    <nz-table #basicTable
       [nzData]="Person"
       [nzTitle]="card_title"
       [nzBordered]="true"
       [nzSize]="'small'"
       style="box-shadow: 0px 0px 13px 0px rgb(199, 196, 196);">
      <thead>
        <tr>
          <th [nzSortFn]="true">Username</th>
          <th [nzSortFn]="true">Description</th>
          <th [nzSortFn]="true">Date</th>
          <th [nzSortFn]="true">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.desc }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.status }}</td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #card_title >
      <div nz-row>
        <div nz-col [nzSpan]="2">
        <span class="material-symbols-outlined" style="color: #5d78ff;"> event_available </span>
        </div>
        <div nz-col [nzSpan]="8">
          Upcoming Appointments
        </div>
        <div nz-col [nzSpan]="4" [nzPush]="10">
          <a routerLink="/appointments">View all</a>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-xl-6 col-lg-6 order-lg-1 order-xl-1">
    <nz-table
    [nzTitle]="card_title1"
    [nzBordered]="true"
    [nzSize]="'small'"
     style="box-shadow: 0px 0px 13px 0px rgb(199, 196, 196);"
     >
        <div style="display: block;text-align: -webkit-center;">
          <canvas baseChart width="400" height="350"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
      </div>
    </nz-table>
    <ng-template #card_title1 >
      <div nz-row>
        <div nz-col [nzSpan]="2">
        <span class="material-symbols-outlined" style="color: #5d78ff;"> monitoring </span>
        </div>
        <div nz-col [nzSpan]="8">
          Visitors Count
        </div>
        <div nz-col [nzSpan]="4" [nzPush]="10">
          <a routerLink="/appointments">View all</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
</nz-content>



<!-- <div class="row">
  <ul nz-list [nzDataSource]="data" nzBordered nzSize="large" >
    <nz-list-header style="color: #5d78ff;">
      <span class="material-symbols-outlined"> help </span>
      Recent Q & A
    </nz-list-header>
    <li nz-list-item *ngFor="let item of data" nzNoFlex>
      <nz-avatar [nzText]="getstring(item.name)"  nzSize="large" nz-tooltip nzTooltipTitle={{item.name}} style="color:#ffffff;background-color:rgb(161, 161, 222)"></nz-avatar>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button nz-button nzType="primary" routerLink="/qanda">Reply</button>
        </nz-list-item-action>
      </ul>&nbsp;
      <span>{{ item.desc }}</span>
    </li>
  </ul>
</div> -->
