nz-content {
  background: #fff;
  padding: 24px;
  height: 70vh;
}
nz-header {
  background: none;
  font-size: large;
  font-weight: 500;
}

nz-form-label {
  text-align: left;
}
nz-table {
overflow-y: auto;
height: 55vh;
}

nz-table thead tr{
position: sticky;
top: 100;
}

