nz-content {
  background: #fff;
  padding: 24px;
  padding-top: 12px;
  height: auto;
}
nz-header {
  background: none;
  font-size: large;
  font-weight: 500;
}
nz-breadcrumb {
  padding-top: 2px;
  padding-bottom: 5px;
}
nz-form-label {
  text-align: left;
}
/* nz-table {
overflow-y: auto;
height: 55vh;
}

nz-table thead tr{
position: sticky;
top: 100;
} */

.editbtn {
  /* border: 1px solid gray; */
  width: fit-content;
}

.editbtn a:hover {
  color: #1890ff;
  text-decoration: underline;
}
.cbutton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
::ng-deep .ant-drawer-close {
  position: fixed;
  right: 0px;
}
.searchInput{
  width: 200px;
}
