nz-content {
  background: #fff;
  padding: 24px;
  min-height: 100vh;
  padding-top: 12px;
}
nz-header {
  background: none;
  font-size: large;
  font-weight: 500;
}
nz-form-label {
  text-align: left;
}
nz-breadcrumb {
  padding-top: 2px;
  padding-bottom: 5px;
}
.cbutton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.searchInput{
  width: 200px;
}