<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="modules/dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Inventory Items</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content>
  <div class="cbutton" >
    <nz-input-group [nzSuffix]="suffixIconSearch" class="searchInput">
      <input type="text" nz-input placeholder="Search" [(ngModel)]="searchText"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="open()">Create</button>
  </div>

  <nz-table
  #basicTable
  [nzData]="inventory_info"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Tax</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data | globalTablesearch: searchText, let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ data.item_name }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.tax }}</td>
        <td>{{ data.created_date  | date : "dd-MM-YYYY hh:mm aaa"}}</td>
        
        <td>
          <div class="editbtn">
            <a (click)="edit(data)">Edit</a> / <a (click)="edit(data)">view</a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent [formGroup]="inventoryForm">
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Item ID</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
          [disabled]="true"
            nz-input
            formControlName="item_id"
            type="number"
            placeholder="please enter Item ID"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Item Name</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="item_name"
            type="text"
            nz-input
            placeholder="please enter Item Name"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Quantity</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="quantity"
            type="number"
            nz-input
            placeholder="please enter Quantity"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Price</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="price"
            type="number"
            nz-input
            placeholder="please enter Price"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Tax</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="tax"
            type="number"
            nz-input
            placeholder="please enter Tax"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="update()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
