<nz-breadcrumb id="breadcrumb">
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/app/modules">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Inventory Items</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content id="component-content">
  <div id="search-create">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="searchInput">
      <input
        type="text"
        nz-input
        placeholder="Search"
        [(ngModel)]="searchText"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="create()">
      Add &nbsp; <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  <nz-table
    #basicTable
    [nzData]="inventory_info"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th nzWidth="100px">S.No.</th>
        <th>Item Name</th>
        <th>UOM</th>
        <th>Price</th>
        <th>Tax</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let data of basicTable.data | globalTablesearch : searchText;
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ data.item_name }}</td>
        <td>{{ data.uom_name }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.tax }}</td>
        <td>
          <div id="editbtn">
            <a nz-tooltip="Edit" (click)="edit(data)"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <b> / </b>
            <a nz-tooltip="View" (click)="edit(data)"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
  [nzClosable]="false"
  [nzCloseIcon]="icon"
  [nzExtra]="icon"
  
>
  <ng-template #icon>
    <i (click)="close()" class="fa-solid fa-circle-xmark"></i>
  </ng-template>
  <form
    nz-form
    *nzDrawerContent
    [formGroup]="inventoryForm"
    class="drawer-form"
  >
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Item Name</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="inventoryErrorTip">
          <input
            nz-input
            formControlName="item_name"
            type="text"
            nz-input
            placeholder="Please Enter Item Name"
          />
          <ng-template #inventoryErrorTip let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please enter item name</ng-container
            >
            <ng-container *ngIf="control.hasError('minlength')"
              >Please enter atleast 3 characters<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('maxlength')"
              >Maximum length exceeded<br
            /></ng-container>
            <ng-container *ngIf="control.hasError('pattern')"
              >Please enter valid input</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Quantity</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Enter Quantity">
          <input
            nz-input
            formControlName="quantity"
            type="number"
            nz-input
            placeholder="please enter Quantity"
          />
        </nz-form-control>
      </nz-form-item>
    </div> -->

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">UOM</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Select UOM">
          <nz-select formControlName="uom_id" nzPlaceHolder="UOM" nzShowSearch>
            <nz-option *ngFor="let u of uomData" nzValue="{{ u.uom_id}}"
              nzLabel="{{ u.uom_name }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Price</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Enter Price">
          <input
            nz-input
            formControlName="price"
            type="number"
            nz-input
            placeholder="please enter Price"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required">Tax</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Enter Tax">
          <input
            nz-input
            formControlName="tax"
            type="number"
            nz-input
            placeholder="please enter Tax"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="onUpdate()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
