/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.css";

.ant-notification-notice-icon {
  line-height: 0 !important;
}

/* red marker for required form lables (nz-form-lables)*/
.required::after {
  display: inline-block;
  margin-left: -7px;
  color: #ff4d4f;
  font-size: 14px;
  vertical-align: super;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

/* class for nz-content inside components*/
#component-content {
  background: #fff;
  padding: 24px;
  padding-top: 12px;
  height: auto;
}

/* id for all breadcrumbs*/
#breadcrumb {
  padding-top: 2px;
  padding-bottom: 5px;
}

/* drawer form labels*/
.drawer-form nz-form-label {
  text-align: left;
}

/* view and edit links in tables*/
#editbtn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#editbtn i {
  font-size: 15px;
}
#editbtn a:hover {
  color: #1890ff;
  text-decoration: underline;
}

/* searchbox and create button*/
#search-create {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#search-create nz-input-group {
  width: 200px;
}

/* close button on drawer form*/
.fa-circle-xmark {
  color: rgb(237, 61, 61);
  font-size: x-large;
}

/*center all table items*/
#component-content th,
#component-content td {
  text-align: center;
}
.i1{
  height:300px;
  width:300px;
}
#n1{
  background: #fff;
  padding: 24px;
  padding-top: 12px;
  height:500px;
  margin-top:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.b1{
  margin-left:55px;
}