
  nz-form-label{
    margin-bottom:-10px;
  }
button {
    margin-top:29px;
}

.approveBtn {
  margin-top: 0PX !important;
  background-color: #52c41a;

}
.usersTable {
  margin-top: 20px;
}
nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}
.name{
  font-weight: 500;
  font-size:14px;
}