<nz-breadcrumb id="breadcrumb">
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="modules/dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Approvals</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content id="component-content">

    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-row nzGutter="16">
        <!-- <nz-form-item nz-col nzSpan="6">
            <nz-form-label >Date Range</nz-form-label>
            <nz-form-control>
              <nz-range-picker formControlName="rangePicker" ></nz-range-picker>
            </nz-form-control>
          </nz-form-item> -->
        <nz-form-item nz-col nzSpan="6" class="ml-3">
            <nz-form-label >Type</nz-form-label> 
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Type" formControlName="type">
                <nz-option nzValue="tenders" nzLabel="Tenders"></nz-option>
                <nz-option nzValue="invoices" nzLabel="Invoices"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item nz-col nzSpan="6" class="ml-3">
            <nz-form-label >Status</nz-form-label> 
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Type" formControlName="status">
                <nz-option nzValue="Active" nzLabel="Active"></nz-option>
                <nz-option nzValue="InActive" nzLabel="InActive"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item> -->
        <nz-form-item nz-col nzSpan="6" class="ml-3">
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="status"  nzPlaceHolder="Select Status" nzShowSearch nzAllowClear>
              <nz-option nzValue="open" nzLabel="Open"></nz-option>
              <nz-option nzValue="close" nzLabel="Close"></nz-option>
              <nz-option nzValue="accept" nzLabel="Accept"></nz-option>
              <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
            </nz-select>
          </nz-form-control>          
        </nz-form-item>
        <button nz-button nzType="primary" nz-col nzSpan="2" class="ml-2"><span nz-icon nzType="search" nzTheme="outline"></span>Search</button>        
    </form>

    <nz-table #basicTable *ngIf="tendersData?.length > 0" [nzData]="tendersData" nzShowPagination nzShowSizeChanger [nzPageSizeOptions] =[5,10,15,20]>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Tender Title</th>
            <th>Vendor Name</th>
            <th>Amount</th>
            <th>Status</th>            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tendersData | globalTablesearch : searchText; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data.title}}</td>
              <td>{{ data.vendor_name }}</td>
              <td>{{ data.tender_cost | currencyIn}}</td>
              <td>{{ data.status | titlecase}}</td>
              <td>
                <button nz-button class="approveBtn" *ngIf="data.status === 'open'" nzType="primary" (click)="onClickApprove(data)">
                  Approve
                </button>
              </td>
            </tr>          
        </tbody>
    </nz-table>

    <nz-modal [(nzVisible)]="isVisible" nzWidth="700px" nzTitle="User Approvals" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>

        <div nz-row>
            <div nz-col nzSpan="12">
                  <div nz-row>
                    <div nz-col nzSpan="8" class="name">Tender Title: </div>
                    <div nz-col nzSpan="8">{{ currentTenderData?.title }}</div>
                  </div>
                  <div nz-row>
                    <div nz-col nzSpan="8" class="name">Vender Name: </div>
                    <div nz-col nzSpan="8">{{ currentTenderData?.vendor_name }}</div>
                  </div>        
                  <div nz-row>
                    <div nz-col nzSpan="8" class="name">Tender Cost: </div>
                    <div nz-col nzSpan="8">{{ currentTenderData?.tender_cost | currencyIn }}</div>
                  </div>
            </div>
            <div nz-col nzSpan="12">
              <div nz-row>
                <div nz-col nzSpan="8" class="name">Location: </div>
                <div nz-col nzSpan="8">{{ currentTenderData?.location }}</div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="8" class="name">Works: </div>
                <div nz-col nzSpan="14">{{ workIdToName(currentTenderData?.work_id) }}</div>
              </div>        
            </div>
        </div>
    
        

        <div class="usersTable">
          <nz-table #basicTable [nzData]="userStatusList" nzShowPagination nzShowSizeChanger [nzPageSizeOptions] =[5,10,15,20]>
            <thead>
              <tr>
                <th>S.No.</th>
                <th>User Name</th>
                <th>Status</th>
                <th>Reason</th>  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userStatusList | globalTablesearch : searchText; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data?.user_full_name }}</td>
                  <td >
                    <nz-select [(ngModel)]="userStatus" *ngIf="data?.user_id === currentUserId">
                      <nz-option nzValue="Pending" nzLabel="Pending"></nz-option>
                      <nz-option nzValue="Approved" nzLabel="Approved"></nz-option>
                      <nz-option nzValue="Rejected" nzLabel="Rejected"></nz-option>
                    </nz-select>
                    <div *ngIf="data?.user_id !== currentUserId"> {{ data?.status }} </div>
                  </td>
                  <td>{{ (userStatus==='Rejected') ? data?.reason : '' }}</td>
                </tr> 
                <tr>
                  <td colspan="3" *ngIf="userStatus==='Rejected'">
                    <textarea
                      nz-input [(ngModel)]="reason"
                      placeholder="Please enter a reason"
                      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                    ></textarea>
                  </td>
                </tr>         
            </tbody>
        </nz-table>
        </div>
      </ng-container>
    </nz-modal>
</nz-content>