<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="modules/dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Tender Details</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content>
  <button nz-button nzType="primary" (click)="open()" class="mb-1">
    Create
  </button>
  <nz-table
    #basicTable
    [nzData]="tender_info"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Ticket Description</th>
        <th>Vendor</th>
        <th>Location</th>
        <th>Status</th>
        <th>Department</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Updated Date</th>
        <th>Updated By</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.department_id }}</td>
        <td>{{ data.department_name }}</td>
        <td>{{ data.ranking }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.created_date }}</td>
        <td>{{ data.created_by }}</td>
        <td>{{ data.updated_date }}</td>
        <td>{{ data.updated_by }}</td>
        <td>{{ data.department_code }}</td>
        <td>
          <div class="editbtn">
            <a (click)="edit(data)">Edit</a> / <a (click)="edit(data)">view</a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent [formGroup]="tenderDetailsForm">

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Ticket Description</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <textarea formControlName="ticket_description" nz-input rows="2" placeholder="Enter Ticket Description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Vendor</nz-form-label>
        <nz-select
          formControlName="vendor_id"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Vendor"
          nzShowSearch
        >
        <nz-option *ngFor="let v of vendor_array" nzValue={{v.vendor_id}} nzLabel={{v.vendor_id}}></nz-option>
          
        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Location</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <textarea formControlName="location" nz-input rows="2" placeholder="Enter Your location"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Status</nz-form-label>
        <nz-select
          formControlName="status"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Status"
          nzShowSearch
        >
          <nz-option nzValue="open" nzLabel="Open"></nz-option>
          <nz-option nzValue="close" nzLabel="Close"></nz-option>
          <nz-option nzValue="accept" nzLabel="Accept"></nz-option>
          <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Department</nz-form-label>
        <nz-select
          formControlName="department_id"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Department"
          nzShowSearch
        >
        <nz-option *ngFor="let d of departments" nzValue={{d.department_id}} nzLabel={{d.department_name}}></nz-option>
          
        </nz-select>
      </nz-form-item>
    </div>



    </form>


  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="update()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
