<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="../dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Tender Details</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-content>
  <div class="cbutton" >
    <nz-input-group [nzSuffix]="suffixIconSearch" class="searchInput">
      <input type="text" nz-input placeholder="Search" [(ngModel)]="searchText"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="open()">Create</button>
  </div>

  <nz-table
    #basicTable
    [nzData]="tenders"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Ticket Description</th>
        <th>Vendor</th>
        <th>Works</th>
        <th>Location</th>
        <th>Tender Cost</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Action</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data | globalTablesearch: searchText, let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ data.ticket_description }}</td>
        <td>{{ data.vendor_name }}</td>
        <td>{{getWorknames(data.work_id)}}</td>
        <td>{{ data.location }}</td>
        <td>{{ data.tender_cost }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.created_date | date : "medium"}}</td>
        <td>
          <div class="editbtn">
            <a (click)="edit(data)">Edit</a> / <a (click)="edit(data)">view</a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent [formGroup]="tenderDetailsForm">

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Ticket Description</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <textarea formControlName="ticket_description" nz-input rows="2" placeholder="Enter Ticket Description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Vendor</nz-form-label>
        <nz-select
          formControlName="vendor_id"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Vendor"
          nzShowSearch
        >
        <nz-option *ngFor="let v of vendors" nzValue={{v.vendor_id}} nzLabel={{v.vendor_name}}></nz-option>

        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Works</nz-form-label>
        <nz-select
        nz-col
        nzSpan="16"
        nzMode="multiple"
        formControlName="work_id"
        nzPlaceHolder="Select Works"
      >
          <nz-option *ngFor="let w of worksDetails"
          [nzLabel]="w.work_name"
          [nzValue]="w.work_id"
          ></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Location</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <textarea formControlName="location" nz-input rows="2" placeholder="Enter Your location"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Tender Cost</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input type="number" formControlName="tender_cost" nz-input  placeholder="Enter Ticket Est. Cost" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Assign to</nz-form-label>
        <nz-select
        nz-col
        nzSpan="16"
        nzMode="multiple"
        formControlName="assign_to"
        nzPlaceHolder="Select User to assign"
        [nzOptions]="departmentUsers"
      >
        </nz-select>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Status</nz-form-label>
        <nz-select
          formControlName="status"
          nz-col
          nzSpan="10"
          nzPlaceHolder="Status"
          nzShowSearch
        >
          <nz-option nzValue="open" nzLabel="Open"></nz-option>
          <nz-option nzValue="close" nzLabel="Close"></nz-option>
          <nz-option nzValue="accept" nzLabel="Accept"></nz-option>
          <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    </form>


  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="update()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
