nz-content {
  background: #fff;
  padding: 24px;
  min-height: 100vh;
}
nz-header {
  background: none;
  font-size: large;
  font-weight: 500;
}
nz-form-label {
  text-align: left;
}
nz-breadcrumb {
  padding-top: 2px;
  padding-bottom: 5px;
}
