nz-header {
  background: none;
  font-size: large;
  font-weight: 500;
}
nz-content {
  background: #fff;
  padding: 24px;
  padding-top: 12px;
  min-height: 80vh;
}
nz-breadcrumb {
  padding-top: 2px;
  padding-bottom: 5px;
}
nz-form-label{
  margin-bottom:-10px;
}

nz-form-label::after{
  display: inline-block;
  margin-left: -7px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
  content: '*';
}
nz-form-item{
  margin-bottom:0px;
}
.create{
  width:300px;
}
.address{
  width:630px;
}
.editbtn{
  /* border: 1px solid gray; */
  width: fit-content;
}

.editbtn a:hover{
  color: #1890ff;
  text-decoration: underline;
}
.cbutton{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.searchInput{
  width: 200px;
}
