<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/app/modules">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Change Password</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="order">
    <h1 class="text-primary text-center">Change Password</h1>
    <div class=" box">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label class="required" [nzSpan]="7">Current Password</nz-form-label>
          <nz-form-control [nzSpan]="12"  nzErrorTip="Please input your cureent password!">
            <input nz-input type="password" formControlName="current_password" placeholder="Current password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="required" [nzSpan]="7">New Password</nz-form-label>
          <nz-form-control [nzSpan]="12"  nzErrorTip="Please input your new password!">
            <input nz-input type="password" formControlName="password" placeholder="New password" (ngModelChange)="validateConfirmPassword()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="required" [nzSpan]="7">Confirm New Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="confirm your new password" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Please confirm your new password!</ng-container>
              <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      </div>

</nz-content>
