nz-header {
  background: none;
  font-size: x-large;
  font-weight: 500;
}
nz-content {
  background: #fff;
  padding: 24px;
  min-height: 80vh;
}
nz-breadcrumb {
  padding-top: 2px;
  padding-bottom: 5px;
}

.box {
  width: 620px;
}
nz-form-label{
  margin-right: 10px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 12px;
}
