<nz-layout class="back">
<ng-container>
    <div class="ml-auto c1 shadow-lg">
        <div style="border: 2px solid #d9d9d9;border-radius: 6px; padding:12px;" class="shadow box">
        
              <h1 class="text-center">Reset Password</h1>

              <form nz-form [formGroup]="validateForm" class="inputs" >
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your email">
                      <nz-form-label>Email</nz-form-label> 
                      <nz-input-group nzPrefixIcon="mail">
                        <input type="text" nz-input formControlName="email" placeholder="Email"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your password">
                      <nz-form-label>New Password</nz-form-label> 
                      <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="newPassword" placeholder="New Password" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please confirm password">
                      <nz-form-label>Confirm Password</nz-form-label> 
                      <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <div nz-row class="login-form-margin">
                    <button nz-button class="login-form-margin login-form-button" [nzType]="'primary'" nz-col [nzSpan] = "24" (click)="signIn()">Reset</button>
                    Go To &nbsp;
                    <a (click)="signIn()" class="text-primary">Log in</a>
                  </div>
                  
            </form>
        </div>
    </div> 
</ng-container>
</nz-layout>

