<nz-breadcrumb id="breadcrumb">
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="modules/dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Funds</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-content id="component-content">
  <div id="search-create">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Search"
        [(ngModel)]="searchText"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="create()">
      Add &nbsp; <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  <nz-table
    #basicTable
    [nzData]="fund_info"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>S.No</th>
        <th>Fund Type</th>
        <th>Fund Description</th>
        <th>Transaction Mode</th>
        <th>amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data  | globalTablesearch : searchText;let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.fund_type }}</td>
        <td>{{ data.fund_description }}</td>
        <td>{{ data.transaction_mode }}</td>
        <td>{{ data.fund_value | currencyIn }}</td>
        <td>{{ data.fund_released_date | date : "dd-MM-YYYY"}}</td>
        <td>
          <div id="editbtn">
            <a nz-tooltip="Edit" (click)="edit(data)"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <b> / </b>
            <a nz-tooltip="View" (click)="edit(data)"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
  [nzClosable]="false"
  [nzCloseIcon]="icon"
  [nzExtra]="icon"
>
<ng-template #icon>
  <i (click)="close()" class="fa-solid fa-circle-xmark"></i>
</ng-template>
  <form class="drawer-form" nz-form *nzDrawerContent [formGroup]="fundsForm" class="drawer-form">
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5" class="required"
          >Fund Type</nz-form-label
        >
        <nz-select
          formControlName="fund_type"
          nz-col
          nzSpan="10"
          nzShowSearch
        >
          <nz-option nzValue="state" nzLabel="State"></nz-option>
          <nz-option nzValue="central" nzLabel="Central"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Fund Description</nz-form-label>
        <nz-form-control nz-col nzSpan="10" [nzErrorTip]="error2">
          <input
            nz-input
            formControlName="fund_description"
            type="text"
            nz-input
            placeholder="Fund Description"
          />
          <ng-template #error2 let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please Enter Fund Description</ng-container
            >
            <ng-container *ngIf="control.hasError('maxlength')"
              >Maxlength is 50 <br
            /></ng-container>
            <ng-container *ngIf="control.hasError('minlength')"
              >Minlength is 10 <br
            /></ng-container>
            <ng-container *ngIf="control.hasError('pattern')"
              >Please Enter Valid Fund Description</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nz-col nzSpan="5">Transaction Mode</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Please Select Transaction Mode">
          <nz-select
            formControlName="transaction_mode"
            nzPlaceHolder="Transaction Mode"
            nzShowSearch
          >
            <nz-option nzValue="banking" nzLabel="Banking"></nz-option>
            <nz-option nzValue="cash" nzLabel="Cash"></nz-option>
            <nz-option nzValue="cheque" nzLabel="Cheque"></nz-option>
            <nz-option nzValue="card" nzLabel="Card"></nz-option>
            <nz-option nzValue="upi" nzLabel="UPI"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Amount</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Enter Amount">
          <input
            nz-input
            formControlName="fund_value"
            type="number"
            nz-input
            placeholder="Amount"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Date</nz-form-label>
        <nz-form-control nz-col nzSpan="10" nzErrorTip="Enter Date">
          <nz-date-picker  [nzFormat]="dateFormat" formControlName="fund_released_date"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onCreateSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="onUpdateSubmit()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
