<nz-breadcrumb id="breadcrumb">
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="modules/dashboard">Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Funds</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-content id="component-content">
  <div id="search-create">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Search"
        [(ngModel)]="searchText"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button nz-button nzType="default" (click)="create()">
      Add &nbsp; <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  
  <nz-table
    #basicTable
    [nzData]="listOfData"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSizeOptions]="[5, 10, 15, 20]"
  >
    <thead>
      <tr>
        <th>S.No</th>
        <th>Proposed Amount</th>
        <th>Funded By</th>
        <th>Status</th>
        <th>Proposed Date</th>
        <th>Deptartment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data  | globalTablesearch : searchText;let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.proposed_amount }}</td>
        <td>{{ data.funded_by }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.proposed_date }}</td>
        <td>{{ data.department_id }}</td>
        <td>
          <div id="editbtn">
            <a nz-tooltip="Edit" (click)="edit(data)"
              ><i class="fa-regular fa-pen-to-square"></i
            ></a>
            <b> / </b>
            <a nz-tooltip="View" (click)="edit(data)"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
  [nzClosable]="false"
  [nzCloseIcon]="icon"
  [nzExtra]="icon"
>
<ng-template #icon>
  <i (click)="close()" class="fa-solid fa-circle-xmark"></i>
</ng-template>
  <form class="drawer-form" nz-form *nzDrawerContent [formGroup]="departmentform" class="drawer-form">
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Fund Id</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="ranking"
            placeholder="please enter Fund Id"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Proposed Amount</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="ranking"
            type="text"
            nz-input
            placeholder="please enter Proposed Amount"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Funded By</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="ranking"
            type="text"
            nz-input
            placeholder="Funded By"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Status</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="ranking"
            type="text"
            nz-input
            placeholder="Status"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Proposed Date</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="ranking"
            type="text"
            nz-input
            placeholder="Proposed Date"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label class = "required" nz-col nzSpan="5">Department</nz-form-label>
        <nz-form-control nz-col nzSpan="10">
          <input
            nz-input
            formControlName="ranking"
            type="text"
            nz-input
            placeholder="Department"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button *ngIf="submit" nzType="primary" (click)="onSubmit()">
        Submit
      </button>
      <button nz-button *ngIf="!submit" nzType="primary" (click)="update()">
        Update
      </button>
    </div>
  </ng-template>
</nz-drawer>
